html
    head
        title olivier

    body
        h1 qskjgerkjg

        //if users
        //    h2 #{users.pseudo}

        form(method="post", action="/login")
            input(type="text", name="username", placeholder="username")
            input(type="text", name="password", placeholder="password")
            button(type="submit") post


